<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Script+</title>
</head>
<body class="welcome-page">

   
  <div id="page2"">
    <div class="page2-title">Movie Script Editor</div>
    <div class="page2-sub">Create cinematic experiences with fade effects</div>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <button class="page2-btn">Start Creating</button>
    </form>
   

    <div class="no-scenes">🎬<br>No Scripts Yet<br>Click "Start Creating" to start creating your script</div>
  </div>
</body>
</html>
